beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
jsonpickle==0.9.6
lxml==4.6.3
NewlineJSON==1.0
numpy==1.14.0
PeakUtils==1.1.1
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
spotipy==2.4.4
scipy==1.0.0
six==1.11.0
urllib3==1.22
xmltodict==0.11.0
Werkzeug==0.14.1
regex==2018.2.8
MarkupSafe==1.0
Jinja2==2.10
jsonschema==2.6.0
itsdangerous==0.24
gunicorn==19.7.1
Flask==0.12.2
click==6.7